.temporadas{
    .generalBox{
        margin-left: 14px;
        margin-right: 14px;        
    }

    h2{
        font-size: 32px;
        color: #BCA580;
        font-family: 'Bebas Neue', cursive;
        text-align: center;
        margin-bottom: 50px;
    }

    &__description{
        display: grid;
        grid-template-columns: 1fr;
        gap: 27px;

        &__box__impar{
            display: flex;
            max-height: 128px;
            gap: 9px;

            img{
                width: 85px;
                height: 127px;
            }

            h3{
                font-size: 18px;
                color: #BCA580;
                font-family: 'Bebas Neue', cursive;
            }

            p{
                font-size: 8px;
                color: white;
            }
        }

        &__box__par{
            display: flex;
            flex-direction: row-reverse;
            text-align: right;
            max-height: 128px;
            gap: 9px;

            img{
                width: 85px;
                height: 127px;
            }

            h3{
                font-size: 18px;
                color: #BCA580;
                font-family: 'Bebas Neue', cursive;
            }

            p{
                font-size: 8px;
                color: white;
            }
        }
    }

    @media (min-width:768px){
        .generalBox{
            margin-left: 35px;
            margin-right: 35px;        
        }

        h2{
            font-size: 48px;
            margin-bottom: 50px;
        }
    
        &__description{
            grid-template-columns: 1fr 1fr;

    
            &__box__impar{
                max-height: 166px;
                gap: 12px;
    
                img{
                    width: 110px;
                    height: 166px;
                }
    
                h3{
                    font-size: 28px;
                }
    
                p{
                    font-size: 10px;
                }
            }
    
            &__box__par{
                flex-direction: row;
                text-align: left;
                max-height: 166px;
                gap: 12px;
    
                img{
                    width: 110px;
                    height: 166px;
                }
    
                h3{
                    font-size: 28px;
                }
    
                p{
                    font-size: 10px;
                }
            }
        }


    }

    @media (min-width:1024px){
        .generalBox{
            margin-left: 78px;
            margin-right: 78px;        
        }

        h2{
            margin-bottom: 60px;
        }
    
        &__description{
    
            &__box__impar{
                max-height: 280px;
                gap: 26px;
                align-items: center;
    
                img{
                    width: 185px;
                    height: 280px;
                }
    
                h3{
                    font-size: 32px;
                    margin-bottom: 28px;
                }
    
                p{
                    font-size: 13px;
                }
            }
    
            &__box__par{
                max-height: 280px;
                gap: 26px;
                align-items: center;
    
                img{
                    width: 185px;
                    height: 280px;
                }
    
                h3{
                    font-size: 32px;
                    margin-bottom: 28px;
                }
    
                p{
                    font-size: 13px;
                }
            }
        }


    }


}